@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
:root{
    overflow-y: hidden;
    overflow-x: hidden;
}
*{
    font-family: MedievalSharp;
}
body{
    display: flex;
    padding: 0px;
    margin: 0px;
    background-image: url(./img/backGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
}
h4{
    margin: 0;
    padding: 0;
}
/*---- Login Screen ----*/
.nameScreen{
    display: flex;
    color: white;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background-color: black;
    background-size: cover;
}
#name{
    height: 25px;
    background-color: rgb(252, 221, 182);
    border: 1px solid rgb(68, 1, 1);
    font-size: 24px;
    border-radius: 5px;
}
/*---- Create Char ----*/
.caracterCreation{
    display: none;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .caracterCreation #start{
        width: 190px;
        height: 74px;
        border: 0;
        border-radius: 10%;
        color: white;
        background-image: url(./img/buttons.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
        #start:hover{
            transform: scale(110%);
        }
    #caracterPic{
        margin-top: 50px;
        display: flex;
        height: 600px;
        width: 1000px;
        justify-content: space-between;
    }
        .imgOne, .imgTwo, .imgThree{
            width: 240px;
            height: 400px;
            background-image: url(./img/playerGuerreiro.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
            #imgOneBox, #imgTwoBox, #imgThreeBox{
                width: 240px;
                height: 400px;
                display: flex;
                flex-direction: column;
            }
            #imgOneTitle, #imgTwoTitle, #imgThreeTitle{
                margin-top: 10px;
                text-align: center;
                font-size: 65px;
            }
            .imgOne:hover, .imgTwo:hover, .imgThree:hover{
                transform: scale(110%);
            }
        .imgTwo{
            background-image: url(./img/player.png);
        }
        .imgThree{
            background-image: url(./img/playerMage.png);
        }
    #bottomPart{
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    #botPart{
        width: 500px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 30px;
        margin: 30px;
    }
/* Text Screen */
#textScreen{
    display: none;
    width: 900px;
    height: 600px;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
}
/*---- Gamme Screen ----*/
.container{
    transform: scale(80%);
    margin: 0 auto;
    margin-top: -125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1600px;
}
    .player, #right{
        width: 550px;
        height: 600px;
    }
        #showName{
            position:absolute;
            margin: 400px 0 0 100px;
            width: 350px;
            height: 110px;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-image: url(./img/banner.png);
        }
        .heart{
            position:absolute;
            margin: 0 0 0 350px;
        }
            .heart div{
                margin: 51px 48px;
                position:absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 1;
                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 100%;
                border: 3px solid black;
            }
                .heart div h1{
                    margin-top: -30px;
                }
            #heart{
                width: 200px;
                height: 200px;
            }
        .sword{
            position:absolute;
            margin: 470px 0 0 0;
        }
            .sword div{
                margin: 75px 0 0 25px;
                position:absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 1;
                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 100%;
                border: 3px solid black;
            }
                .sword div h1{
                    margin-top: -30px;
                }
            #sword{
                width: 170px;
                height: 230px;
            }
        .shield{
            position:absolute;
            margin: 470px 0 0 350px;
        }
            .shield div{
                margin: 75px 0 0 50px;
                position:absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 1;
                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 100%;
                border: 3px solid black;
            }
                .shield div h1{
                    margin-top: -30px;
                }
            #shield{
                width: 200px;
                height: 230px;
            }
        .card{
            margin: 50px auto;
            width: 400px;
            height: 600px;
            border-radius: 30px;
            background-image: url(./img/cardBackground.png);
            background-size:contain;
            display: flex;
            align-items: center;
        }
            .pic{
                margin: 0 auto;
                width: 300px;
                height: 400px;
                background-image: url(./img/player.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
        .buttons{    
            display: flex;
            width: 600px;
            top: 725px;
            right: 1000px;
            position: absolute;
            z-index: 1000;
        }
            nav, #navII, #navIII{
                margin: 50px auto;
                width: 80px;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: grab;
            }
                .toggle-btn, #toggleBtnII, #toggleBtnIII{
                    font-size: 35px;
                    color: #0e2431;
                    z-index: 100;
                    cursor: pointer;
                    transform: rotate(225deg);
                    transition: all 0.6s ease;
                }
                .nav-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: rotate(120deg);
                }
                .nav-content span{
                    position: absolute;
                    transition: all 0.6s ease;
                    opacity: 0;
                }
                    .toggle-btn, #toggleBtnII, #toggleBtnIII,
                    .nav-content span a{
                        height: 60px;
                        width: 60px;
                        background-color: #440a08;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        box-shadow: 0 0 20px rgba(0,0,0,0.2);
                    }
                    
                    .toggle-btn, #toggleBtnII, #toggleBtnIII{
                        height: 125px;
                        width: 125px;
                        background-image: url(./img/warrior.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover ;
                    }
                    #toggleBtnII{
                        background-image: url(./img/mage.png);
                    }
                    #toggleBtnIII{
                        background-image: url(./img/rogue.png);
                    }
                        .toggle-btn:hover, #toggleBtnII:hover, #toggleBtnIII:hover{
                            transform: scale(110%);
                        }
                        .nav-content span a{
                            background-color: aliceblue;
                        }
                nav.open .nav-content span, #navII.open .nav-content span, #navIII.open .nav-content span {
                    transform: rotate(calc(var(--i) * (360deg/10))) translateY(120px);
                    opacity: 1;
                }
                .nav-content span a{
                    text-decoration: none;
                    transform: rotate(-120deg);
                }
                .nav-content span a i{
                    font-size: 24px;
                    color: #0e2431;
                    transform: rotate(calc(var(--i) * (360deg/ -10)));
                    opacity: 0.8;
                    transition: 0.2s;
                }
                .nav-content span a:hover i{
                    opacity: 1; 
                    color: red;
                }
                .nav-content span a:hover:after {
                    position: absolute;
                    content: attr(title);
                    display: inline-block;
                    width: max-content;
                    bottom: 80px;
                    padding: 5px;
                    background-color: black;
                    transform: rotate(calc(var(--i) * (-360deg/ 10)));
                    color: white;
                }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
        #gameStartBtn{
            width: 193px;
            height: 75px;
            border: 0;
            border-radius: 10%;
            color: white;
            background-image: url(./img/buttons.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            font-size: 28px;
        }
            #gameStartBtn:hover{
                transform: scale(105%);
            }
    .monster, #left{
        width: 550px;
        height: 700px;
    }
    #left{
        margin-top: 75px;
    }
        #showNameMonster{
            position:absolute;
            margin: 400px 0 0 100px;
            width: 350px;
            height: 110px;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-image: url(./img/banner.png);
        }
        .monsterHeart{
            position:absolute;
            margin: 0 350px 0 0;
        }
            .monsterHeart div{
                margin: 51px 48px;
                position:absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 1;
                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 100%;
                border: 3px solid black;
            }
                .monsterHeart div h1{
                    margin-top: -30px;
                }
            #monsterHeart{
                width: 200px;
                height: 200px;
            }
        .monsterSword{
            position:absolute;
            margin: 470px 0 0 375px;
        }
            .monsterSword div{
                margin: 75px 0 0 25px;
                position:absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 1;
                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 100%;
                border: 3px solid black;
            }
                .monsterSword div h1{
                    margin-top: -30px;
                }
            #monsterSword{
                width: 170px;
                height: 230px;
            }
        .monsterShield{
            position:absolute;
            margin: 470px 0 0 0;
        }
            .monsterShield div{
                margin: 75px 0 0 50px;
                position:absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 1;
                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 100%;
                border: 3px solid black;
            }
                .monsterShield div h1{
                    margin-top: -30px;
                }
            #monsterShield{
                width: 200px;
                height: 230px;
            }
        .monsterCard{
            margin: 50px auto;
            width: 400px;
            height: 600px;
            border-radius: 30px;
            background-image: url(./img/monsterCardBackground.png);
            background-size:contain;
            display: flex;
            align-items: center;
        }
            .monsterPic{
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 auto;
                width: 300px;
                height: 400px;
            }
    .mid{
        height: 600px;
        width: 400px;
        align-items: center;
        flex-direction: column;
    }
        #log-top{
            text-align: center;
            height: 100px;
        }
        #log-bot{
            position: absolute;
            width: 400px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;        
        }
        button{
            background-color: #ffffff00;
        }
            #endTurn{
                position: absolute;
                margin-top: 350px;
                width: 150px;
                height: 150px;
                border: 0;
                color: white;
                background-image: url(./img/monster.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
                #endTurn:hover{
                    transform: scale(105%) rotate(60deg);
                    transition: 0.2s;
                }
        #notYourTurn{
            height: 100px;
            margin-top: 15px;
        }
        .d20{
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .d20 div{
                position:absolute;
                color: aliceblue;
            }
            .d20 img{
                height: 290px;
                width: 260px;
            }
    
/* Death Scream */
#deadScreen{
    height: 1000px;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: #aaaaaa;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
    #picWasted{
        width: 850px;
        height: 250px;
        background-image: url(./img/wasted.png);
    }